<template name="explore">
    <h1>Explore</h1>

    <h2>Your target is {{target}} in {{pathLength}} hops!</h2>


    {{#if successHops}}
        <h2>You got from {{lastChallenge.source}} to {{lastChallenge.target}} in {{lastChallenge.nHops}} hops! Your target was {{lastChallenge.targetHops}}</h2>
    {{else}}
        <h3>You're now at {{historyItems.length}} hops</h3>
    {{/if}}

    <ul>
    {{#each historyItems}}
        <li>{{name}}</li>
    {{/each}}
    </ul>
    <svg class="canvasContainer">

    </svg>
</template>