

<template name="routeSearch">

    <form class="routeSearchForm form-horizontal">
        <div class="form-group">
            <label for="fromInput" class="control-label col-lg-2">From:</label>
            <div class="col-sm-6">
                <input type="text" id="fromInput" name="fromInput" class="fromInput form-control input-lg" placeholder="From">
                <span class="help-block">Please enter a subject to....</span>
            </div>
        </div>
        <div class="form-group">
            <label for="toInput" class="control-label col-lg-2">To:</label>
            <div class="col-sm-6">
                <input type="text" id="toInput" name="toInput" class="toInput form-control input-lg" placeholder="To">
                <span class="help-block">Please enter a subject to...</span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2">
                <p> Search for a route from {{from}} to {{to}}</p>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2">
                <button type="submit" class="btn btn-lg btn-default">Find a route</button>
            </div>
        </div>
    </form>

    {{#each linkedArticles}}
        {{>linkedArticle}}
    {{/each}}

</template>
