<template name="wikiHop">
    <h1>Wiki Hopping</h1>

    <form class="wikiHopForm form-horizontal">
        <div class="form-group">
            <label for="fromInput" class="control-label col-lg-2">From:</label>
            <div class="col-sm-6">
                <input type="text" id="fromInput" name="fromInput" class="fromInput form-control input-lg" placeholder="From"
                       >
                <span class="help-block">Please enter a subject to....</span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2">
                <button type="submit" class="btn btn-lg btn-default">Find a route</button>
            </div>
        </div>
    </form>

    {{#each linkedArticles}}
        {{>linkedArticle}}
    {{/each}}
</template>