<template name="wikiHop">
    <h1>Wiki Hopping</h1>

    <form class="wikiHopForm form-horizontal">
        <div class="form-group">
            <label for="fromInput" class="control-label col-lg-2">From:</label>
            <div class="col-sm-6">
                <input type="text" id="fromInput" name="fromInput" class="fromInput form-control input-lg" placeholder="From"
                       >
                <span class="help-block">Please enter a subject from...</span>
            </div>
        </div>
        <div class="form-group">
            <label for="toInput" class="control-label col-lg-2">To:</label>
            <div class="col-sm-6">
                <input type="text" id="toInput" name="toInput" class="toInput form-control input-lg" placeholder="To">
                <span class="help-block">Please enter a subject to...</span>
            </div>
        </div>
        <div class="form-group">
                <div class="col-sm-offset-2 col-sm-3">
                    <label><input type="checkbox" name="shortestCheckbox">Shortest Path?</label>
                </div>

                <div class="col-sm-3">
                    <input type="number" min="0" max="9"  id="limitInput" name="limitInput" class="form-control input-sm" placeholder="Number of Hops">
                </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-6">
                <div class="pull-right">
                    <button type="submit" class="btn btn-lg btn-default">Find a route</button>
                </div>

            </div>
        </div>

    </form>

    {{#each linkedArticles}}
        {{>linkedArticle}}
    {{/each}}
</template>