/* CSS declarations go here */
.btn-default {
    box-shadow: 1px 2px 5px #000000;
}

* {
    margin: 0;
}
html, body {
    height: 100%;
}
.container {
    min-height: 87%;
    height: auto !important;
    height: 100%;
    margin: 0 auto 2em;
}

#wikiHop.jumbotron{
     background: url('images/jeph_explore.png')!important;
    background-size: contain;
 }

#explore.jumbotron{
     background: url('images/jeph_from_to.png') !important;
    background-size: contain;
 }

#home.jumbotron{
    background: url('images/jeph_logo.png') !important;
    background-size: contain;
}